img {
    height: 150px;
    width: 50%;
    margin-left: 28%;
}

td {
    width: 20px;
    height: 20px;
}

.cell {
    background-color: gray;
}

.levels {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    width: 50%;
}

.levels:hover {
    color: red;
}

.game-box {
    width: 700px;
    height: 600px;
    margin: auto;
}

.score {
    font-family: "Lucida Console", "Courier New", monospace;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 50%;
    font-style: italic;
    font-size: large;
}

.timer {
    font-family: "Lucida Console", "Courier New", monospace;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 50%;
    font-style: italic;
    font-size: large;
}

button {
    background-attachment: fixed;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn {
    margin-left: 170px;
    width: 50%;
    text-align: center;
}

.board {
    margin-left: 42%;
    width: 50%;
}